<?xml version="1.0" ?>
<robot name="partnet_eb03ba3f-2b3f-44c3-894d-2ff54920ba8b">
	<link name="base"/>
	<link name="link_0">
		<visual name="pressing_lid-1">
			<origin xyz="0.004231701631850748 0 -0.003250010010664317"/>
			<geometry>
				<mesh filename="textured_objs/original_4.obj"/>
			</geometry>
		</visual>
		<visual name="pressing_lid-1">
			<origin xyz="0.004231701631850748 0 -0.003250010010664317"/>
			<geometry>
				<mesh filename="textured_objs/original_3.obj"/>
			</geometry>
		</visual>
		<visual name="pressing_lid-1">
			<origin xyz="0.004231701631850748 0 -0.003250010010664317"/>
			<geometry>
				<mesh filename="textured_objs/original_1.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.004231701631850748 0 -0.003250010010664317"/>
			<geometry>
				<mesh filename="textured_objs/original_4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.004231701631850748 0 -0.003250010010664317"/>
			<geometry>
				<mesh filename="textured_objs/original_3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.004231701631850748 0 -0.003250010010664317"/>
			<geometry>
				<mesh filename="textured_objs/original_1.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="continuous">
		<origin xyz="0.0 0 0.0"/>
		<axis xyz="0 1 0"/>
		<child link="link_0"/>
		<parent link="link_0_helper"/>
	</joint>
	<link name="link_1">
		<visual name="head-3">
			<origin xyz="0.0012767166332510634 -1.2184313426589853e-05 0.003067265562766778"/>
			<geometry>
				<mesh filename="textured_objs/original_2.obj"/>
			</geometry>
		</visual>
		<visual name="head-3">
			<origin xyz="0.0012767166332510634 -1.2184313426589853e-05 0.003067265562766778"/>
			<geometry>
				<mesh filename="textured_objs/original_5.obj"/>
			</geometry>
		</visual>
		<visual name="head-3">
			<origin xyz="0.0012767166332510634 -1.2184313426589853e-05 0.003067265562766778"/>
			<geometry>
				<mesh filename="textured_objs/original_6.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0012767166332510634 -1.2184313426589853e-05 0.003067265562766778"/>
			<geometry>
				<mesh filename="textured_objs/original_2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.0012767166332510634 -1.2184313426589853e-05 0.003067265562766778"/>
			<geometry>
				<mesh filename="textured_objs/original_5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.0012767166332510634 -1.2184313426589853e-05 0.003067265562766778"/>
			<geometry>
				<mesh filename="textured_objs/original_6.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="continuous">
		<origin xyz="0.0 0.0 0.0"/>
		<axis xyz="0.006125362796339866 0.9999802277683453 0.0014226745875050735"/>
		<child link="link_1"/>
		<parent link="link_1_helper"/>
	</joint>
	<link name="link_2">
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original_8.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original_9.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original_11.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original_12.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original_10.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original_8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original_9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original_11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original_12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original_10.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_2"/>
		<parent link="base"/>
	</joint>
	<link name="link_0_helper">
		<inertial>
			<origin xyz="0 0 0"/>
			<mass value="1e-6"/>
			<inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
		</inertial>
	</link>
	<joint name="joint_3" type="prismatic">
		<origin xyz="-0.0029549849985996846 -1.2184313426589853e-05 0.006317275573431095"/>
		<axis xyz="0 -1 0"/>
		<child link="link_0_helper"/>
		<parent link="link_1"/>
		<limit lower="0" upper="0.06"/>
	</joint>
	<link name="link_1_helper">
		<inertial>
			<origin xyz="0 0 0"/>
			<mass value="1e-6"/>
			<inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
		</inertial>
	</link>
	<joint name="joint_4" type="prismatic">
		<origin xyz="-0.0012767166332510634 1.2184313426589853e-05 -0.003067265562766778"/>
		<axis xyz="0.006125362796339866 0.9999802277683453 0.0014226745875050735"/>
		<child link="link_1_helper"/>
		<parent link="link_2"/>
		<limit lower="0" upper="0.01200000000000001"/>
	</joint>
</robot>
